[Unit]
Description=Microscope UDP controller
After=multi-user.target[Service]
Type=idle
ExecStart=/usr/bin/python ${MICROSCOPE_CONTROLLER_HOME}/udp_controller.py
WantedBy=multi-user.target
