[Unit]
Description=Microscope UDP controller service
After=network-online.target

[Service]
ExecStart=/bin/bash "${MICROSCOPE_CONTROLLER_HOME}/run.sh"
User=pi
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
