[Unit]
Description=Microscope UDP controller service
After=network-online.target

[Service]
ExecStart=/usr/bin/python /home/pi/Documents/MzDriverUdp/udp_controller.py
User=pi
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
